body {
  font-family: "Roboto", sans-serif;
  background: darken(white, 0.2);
}

div {
  animation: keyanimate 4s ease 0s infinite alternate;
  border-radius: 10px;
  width: 200px;
  height: 100px;
  background-color: purple;
  text-align: center;
  color: white;
  position: absolute;
  left: 0px;
}

@keyframes keyanimate {

  25% {
    left: 100px;
  }
  50% {
    left: 150px;
  }
  75% {
    left: 200px;
  }
  100% {
    left: 250px;
  }

}
