$fontcolor:  rgb(10%, 10%, 10%);
$backgroundcolor: rgb(98%, 98%, 98%);


body {
  font-family: "Roboto", sans-serif;
  color: $fontcolor;
  background-color: $backgroundcolor;
}

#main {
  margin: 25px;
}

#searchbar {
  margin-bottom: 20px;

  input {
    font-size: 1.5em;
    border-radius: .25em;
  }
}

#detail-title {
  font-size: 2em;
}

#video-section {
  display: flex;

  li {
    list-style: none;
    cursor: pointer;
    display: flex;
    width: 25vw;
  }

  #video-list-item {
    margin-bottom:20px;
    border-color: rgb(190,190,190);
    border-width:thin;
    border-style: solid;
    padding: 10px;
  }

  #video-list-item:hover {
    background: darken( $backgroundcolor, 10% );
  }

  #detail-caption {
    border-color: rgb(190,190,190);
    border-width:thin;
    border-style: solid;
    margin-top: 20px;
    padding: 10px;
  }
}
